<div class="commandPromptDiv">
    <div class="headerDiv">
        <span class="cmdIcon" [style.background-image]="'url(./assets/icons8-command-line-48.png)'">
        </span>
        <span class="cmdLabel">Command Prompt</span>
        <span class="cursorIcon" id="cursorIcon" [style.background-image]="'url(./assets/icons8-cursor-48.png)'"></span>
        <span class="closeIcon" [style.background-image]="'url(./assets/cmd_close_icon.png)'"></span>
    </div>
    <div class="cmdBody" id="cmdBody">
        <div class="cmdContainer">
            <p id="fixedText">Not Windows [Version 15.42.04242.333]
                <br>
                (cc) Unknown Corporation. All rights reserved (not).</p>
                <br>
                <p id="cmdLocationText">H:\hemantlahoti.github.io\mywebpage>&nbsp;</p>
            <p id="lineone">Welcome to my page!</p>
            <p id="linetwo">Hope you like it..</p>
        </div>
    </div>
</div>