<div class="commandPromptDiv">
    <div class="headerDiv">
        <span class="cmdIcon" [style.background-image]="'url(./assets/icons8-command-line-48.png)'">
        </span>
        <span class="cmdLabel">Command Prompt</span>
        <span class="cursorIcon" id="cursorIcon" [style.background-image]="'url(./assets/icons8-cursor-48.png)'"></span>
    </div>
    <div class="cmdBody" id="cmdBody">
        <p id="lineone">Welcome to my page!</p>
        <br>
        <p id="linetwo">~ Hemant Lahoti</p>
    </div>
</div>


