<div class="container tiles-container">
    <div class="row first-tiles-row">
        <div class="col-md-3 tileOne tile" (click)="aboutMe()">
            <span class="tileSpan">About Me</span>
        </div>
        <div class="col-md-3 tileTwo tile" (click)="myExperiences()">
            <span class="tileSpan">My Experiences</span>
        </div>
        <div class="col-md-3 tileThree tile" (click)="goToInstagram()">
            <span class="tileSpan">My Instagram</span>
        </div>
    </div>
    <div class="row second-tiles-row">
        <div class="col-md-3 tileFour tile" (click)="downloadResume()">
            <span class="tileSpan">My Résumé</span>
        </div>
        <div class="col-md-3 tileFive tile" (click)="letsConnect()">
            <span class="tileSpan">Let's Connect</span>
        </div>
        <div class="col-md-3 tileSix tile" (click)="bringBackCMD()">
            <span class="tileSpan">Bring back the CMD!!</span>
        </div>
    </div>
</div>