.tiles-container {
    position: absolute;
    z-index: 15;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .tile {
        box-shadow: 0px 0px 15px gray;
        border: 1px solid;
        border-radius: 10px;
        min-height: 300px;
        margin: 3%;
        min-width: 300px;
        cursor: pointer;
        text-align: center;
        font-size: 1.6rem;


        .tileSpan {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            margin: 0;
        }
    }

    .tileOne {
        animation: slideinleftupcorner 2s;
        background-image: url(../../../src/assets/images/tile_thumbnail.png);      
        background-position: left top;  
    }
    .tileOne:hover {
        background-image: url(../../../src/assets/images/about_me_thumbnail.png);
        span{
            display: none;
        }
    }

    .tileTwo {
        animation: slideinupcenter 2s;
        background-image: url(../../../src/assets/images/tile_thumbnail.png); 
        background-position: center top;
    }
    .tileTwo:hover {
        background-image: url(../../../src/assets/images/experience_thumbnail.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        span{
            display: none;
        }
    }

    .tileThree {
        animation: slideinrightupcorner 2s;
        background-image: url(../../../src/assets/images/tile_thumbnail.png);
        background-position: right top;  
    }
    .tileThree:hover {
        background-image: url(../../../src/assets/images/photography_thumbnail.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        span{
            display: none;
        }
    }


    .tileFour {
        animation: slideinleftdowncorner 2s;
        background-image: url(../../../src/assets/images/tile_thumbnail.png); 
        background-position: left bottom; 
    }
    .tileFour:hover {
        background-image: url(../../../src/assets/images/resume_thumbnail.png);
        background-position: left top;
        span{
            display: none;
        }
    }

    .tileFive {
        animation: slideindowncenter 2s;
        background-image: url(../../../src/assets/images/tile_thumbnail.png);  
        background-position: center bottom; 
    }
    .tileFive:hover {
        background-image: url(../../../src/assets/images/lets_connect_thumbnail.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        span{
            display: none;
        }
    }

    .tileSix {
        animation: slideinrightdowncenter 2s;
        background-image: url(../../../src/assets/images/tile_thumbnail.png);  
        background-position: right bottom; 
    }
    .tileSix:hover {
        background-image: url(../../../src/assets/images/show_cmd_again_thumbnail.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        span{
            display: none;
        }
    }

    .tile:hover {
        transform: scale(1.1);
    }


}

@keyframes slideinleftupcorner {
    0% {
        transform: translate(-150%, -150%);
    }

    100% {
        transform: translate(0%, 0%);
    }
}

@keyframes slideinleftdowncorner {
    0% {
        transform: translate(-150%, 150%);
    }

    100% {
        transform: translate(0%, 0%);
    }
}

@keyframes slideinupcenter {
    0% {
        transform: translate(0%, -150%);
    }

    100% {
        transform: translate(0%, 0%);
    }
}

@keyframes slideinrightupcorner {
    0% {
        transform: translate(150%, -150%);
    }

    100% {
        transform: translate(0%, 0%);
    }
}

@keyframes slideindowncenter {
    0% {
        transform: translate(0%, 150%);
    }

    100% {
        transform: translate(0%, 0%);
    }
}

@keyframes slideinrightdowncenter {
    0% {
        transform: translate(150%, 150%);
    }

    100% {
        transform: translate(0%, 0%);
    }
}