/* You can add global styles to this file, and also import other style files */

body {
    background: fixed;
    background-color: rgb(168, 162, 255);
    color: white;
    overflow: hidden;
    font-family: cursive;
}

span {
    caret-color: transparent;
}

@media only screen and (max-width: 700px) {
    body {overflow: auto;}
}